<md-dialog class="_md md-transition-in md-dialog-largescreen" aria-label="Assign Member" ng-controller="UserRoleController">
  <md-content class="md-padding" layout="column">
    <h3>{{ userRoll }}</h3>

    <md-input-container class="md-block mb-30 mt-20"><input ng-model="email" type="text" placeholder="Enter member email" />
    </md-input-container>
    <md-input-container class="md-block mb-30 mt-20"><input ng-model="name" type="text" placeholder="Enter Username" />
    </md-input-container>
    <md-input-container class="md-block mb-30 mt-20"><input ng-model="id" type="number" placeholder="Enter member ID" />
    </md-input-container>
    <md-input-container class="md-block mb-30 mt-20"><input ng-model="note" type="text" placeholder="If any note" />
    </md-input-container>

    <md-button class="md-raised md-accent md-button" ng-click="addMember(userRollId)" ng-disabled="!isFormValid()">Submit</md-button>
    <md-button class="sec-button" ng-click="answer('not useful')">Cancel</md-button>
  </md-content>
</md-dialog>
